        <nav>
      <a href="#">ALPHA BLOG</a>
      <div>
        <ul>
          <li>
            <%= link_to "Articles", articles_path, class: "nav-link" %>
          </li>
          <li>
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <form>
          <input type="search" placeholder="Search" aria-label="Search">
          <button id="search-button" type="submit">Search</button>
        </form>
      </div>
    </nav>